<html>
<head>
<title>pokedex</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (pokedex.PSD) -->

<table   cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td>
			<img src="/static/pokedex_01.png"  alt=""></td>
		<td background="/static/pokedex_02.png" style="height: 233;width: 250;" ></td>
		<td background="/static/pokedex_03.png"  style="background-repeat: repeat;" >
			<form action="buscar" method="POST">
				<h2>Pokedex</h2>
				<input placeholder="Buscar Pokemon" name="nome" type="text">
				<button type="submit" name="buscar">Buscar</button>
			</form>
		</td>
		<td>
			<img src="/static/pokedex_04.png"  alt=""></td>
	</tr>
	<tr>
		<td background="/static/pokedex_05.png" style="background-repeat: repeat-y;" height="300"></td>
		<td background="/static/pokedex_06.png" style="background-repeat: repeat;min-width: 550;" colspan="2" align="center">
			<label >{{nome}}</label><p>
			<img src='/static/bola.png' name="img_pokemon" height="150">
		</td>
		
		<td background="/static/pokedex_08.png" style="background-repeat: repeat-y;"></td>
	</tr>
	<tr>
		<td>
			<img src="/static/pokedex_09.png" alt=""></td>
		<td>
			<img src="/static/pokedex_10.png"  alt=""></td>
		<td background="/static/pokedex_11.png" style="background-repeat: repeat-x; vertical-align: bottom;"></td>
		<td>
			<img src="/static/pokedex_12.png"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>